<div class="headline">
  <h1 mat-dialog-title>Termineditor</h1>
  <button mat-raised-button onclick="onDeleteClick();" color="warn" id="delete">Löschen</button>
</div>
<div mat-dialog-content>
<table>
  <tr>
    <th>
      <div class="editor">
        <mat-form-field appearance="outline">
          <mat-label>Standort</mat-label>
          <mat-select [formControl]="locationForm" required>
            <mat-option *ngFor="let loc of locations" [value]="loc">
              {{loc}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="locationForm.hasError('required')">
            Der gewünschte Standort <strong>muss</strong> ausgewählt werden!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Linie</mat-label>
          <mat-select [formControl]="lineForm" required>
            <mat-option *ngFor="let line of lines" [value]="line">
              {{line}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="lineForm.hasError('required')">
            Die gewünschte Linie <strong>muss</strong> ausgewählt werden!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Datum</mat-label>
          <input matInput [min]="minDate" placeholder="Datum auswählen" [matDatepicker]="picker" [formControl]="dateForm" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateForm.hasError('required')">
            Das gewünschte Datum <strong>muss</strong> ausgewählt werden!
          </mat-error>
          <mat-error *ngIf="dateBeforeMin || timeBeforeMin">
            Datum darf <strong>nicht</strong> in der Vergangenheit liegen!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="time" placeholder="Zeit auswählen" [formControl]="timeForm" required>
          <mat-error *ngIf="timeForm.hasError('required')">
            Die gewünschte Uhrzeit <strong>muss</strong> angegeben werden!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dauer</mat-label>
          <mat-select [formControl]="durationForm" required>
            <mat-option *ngFor="let dur of duration" [value]="dur.value">
              {{dur.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="durationForm.hasError('required')">
            Die gewünschte Dauer <strong>muss</strong> ausgewählt werden!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Wirkstoff</mat-label>
          <mat-select [formControl]="substanceForm" required>
            <mat-option *ngFor="let substance of substances" [value]="substance">
              {{substance}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="substanceForm.hasError('required')">
            Der gewünschte Wirkstoff <strong>muss</strong> ausgewählt werden!
          </mat-error>
        </mat-form-field>

        <mat-checkbox [aria-label]="isBooked"  [formControl]="bookedForm">Termin gebucht</mat-checkbox>
      </div>
    </th>
  </tr>
</table>
</div>


<div mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="null">Abbrechen</button>
  <button mat-button (click)="onStore()" cdkFocusInitial>Speichern</button>
</div>
