.editor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#delete {
  margin: 10px;
}

.dialog-actions {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-slide-toggle {
  margin-top: 20px;
  margin-right: 20px;
}

#repeat {
  padding-left: 40px;
}
