<div class="headline">
  <h1 mat-dialog-title>Termineditor</h1>
  <mat-slide-toggle (change)="onSliderChanged($event)">{{sliderLabel}}</mat-slide-toggle>
</div>
<div mat-dialog-content>
  <table>
    <tr>
      <th>
        <div class="editor">
          <mat-form-field appearance="outline">
            <mat-label>Standort</mat-label>
            <mat-select [formControl]="locationForm" required (selectionChange)="onLocationChanged($event)">
              <mat-option *ngFor="let loc of locations" [value]="loc">
                {{loc}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="locationForm.hasError('required')">
              Der gewünschte Standort <strong>muss</strong> ausgewählt werden!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Linie</mat-label>
            <mat-select [formControl]="lineForm" required (selectionChange)="onLineChanged($event)">
              <mat-option *ngFor="let line of lines" [value]="line">
                {{line}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="lineForm.hasError('required')">
              Die gewünschte Linie <strong>muss</strong> ausgewählt werden!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Datum</mat-label>
            <input [min]="minDate" matInput placeholder="Datum auswählen" [matDatepicker]="picker" [formControl]="dateForm" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateForm.hasError('required')">
              Das gewünschte Datum <strong>muss</strong> ausgewählt werden!
            </mat-error>
            <mat-error *ngIf="dateBeforeMin || timeBeforeMin">
              Datum darf <strong>nicht</strong> in der Vergangenheit liegen!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput type="time" placeholder="Zeit auswählen" [formControl]="timeForm" required>
            <mat-error *ngIf="timeForm.hasError('required')">
              Die gewünschte Uhrzeit <strong>muss</strong> angegeben werden!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dauer</mat-label>
            <mat-select [formControl]="durationForm" required>
              <mat-option *ngFor="let dur of duration" [value]="dur.value">
                {{dur.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="durationForm.hasError('required')">
              Die gewünschte Dauer <strong>muss</strong> ausgewählt werden!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Wirkstoff</mat-label>
            <mat-select [formControl]="substanceForm" required>
              <mat-option *ngFor="let substance of substances" [value]="substance">
                {{substance}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="substanceForm.hasError('required')">
              Der gewünschte Wirkstoff <strong>muss</strong> ausgewählt werden!
            </mat-error>
          </mat-form-field>

          <mat-checkbox *ngIf="!sliderValue" [aria-label]="isBooked"  [formControl]="bookedForm">Termin gebucht</mat-checkbox>
        </div>
      </th>
      <th id="repeat" *ngIf="sliderValue">
        <div mat-dialog-content>
          <h1>Wiederholen</h1>
        </div>
        <div class="editor">
          <mat-form-field appearance="fill" matTooltip="Anzahl an Terminen in der ausgewählten Dauer">
            <mat-label>Anzahl an Terminen</mat-label>
            <mat-select [formControl]="countForm" required>
              <mat-option *ngFor="let c of count" [value]="c">
                {{c}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="countForm.hasError('required')">
              Die gewünschte Anzahl <strong>muss</strong> ausgewählt werden!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Zeitraum</mat-label>
            <mat-select (selectionChange)="onChangeSelect($event)" [formControl]="intervalForm" required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let period of timePeriod" [value]="period.value">
                {{period.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="intervalForm.hasError('required')">
              Der gewünschte Zeitraum <strong>muss</strong> ausgewählt werden!
            </mat-error>
          </mat-form-field>

          <app-daily-editor-form (switchChanged)="onDailyChanged($event)"></app-daily-editor-form>
          <app-weekly-editor-form (numberSwitchChanged)="onWeeklySelectorChanged($event)" (dayCheckedChanged)="onWeeklyCheckboxesChanged($event)"></app-weekly-editor-form>
          <app-monthly-editor-form (numberSwitchChanged)="onMonthlyRepeatSelectorChanged($event)" (periodSwitchChanged)="onMonthlyNumberSelectorChanged($event)" (daySwitchChanged)="onMonthlyWeekdaySelectorChanged($event)" ></app-monthly-editor-form>

          <mat-form-field appearance="fill">
            <mat-label>Ende</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="endPicker" [formControl]="endDateForm" required>
            <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="endDateForm.hasError('required')">
              Das gewünschte Enddatum <strong>muss</strong> ausgewählt werden!
            </mat-error>
            <mat-error *ngIf="endDateBeforeStartDate">
              Das Enddatum darf <strong>nicht</strong> vor dem Startdatum seinn!
            </mat-error>
          </mat-form-field>
        </div>
      </th>
    </tr>
  </table>
</div>


<div mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="null">Abbrechen</button>
  <button mat-button (click)="onStore()" cdkFocusInitial>Speichern</button>
</div>
