<form *ngIf="showMonthlyForm">
  <div>
    <mat-label>Alle</mat-label>
    <mat-form-field id="month" appearance="outline">
      <mat-select (selectionChange)="onNumberSwitchChange($event)" [formControl]="monthForm" required>
        <mat-option *ngFor="let month of months" [value]="month">
          {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Monat(e)</mat-label>
  </div>
  <div>
    <mat-label>Am</mat-label>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onPeriodSwitchChange($event)" [formControl]="periodForm" required>
        <mat-option *ngFor="let p of period" [value]="p.value">
          {{p.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="day" appearance="outline">
      <mat-select (selectionChange)="onDaySwitchChange($event)" [formControl]="dayForm" required>
        <mat-option *ngFor="let day of days" [value]="day.value">
          {{day.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
